<!DOCTYPE html>
<html>
<head>{{pkg.name}}</head>
<style></style>
<style>
        {{{style}}}
</style>
<body>
<header>

</header>
<main>
    <div class="container">
        <table>
            <tbody>
            <tr>
                <th>
                    <a href="./apiguide/index.html">API guide</a>
                </th>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>

</footer>
</body>
</html>